.auth-form {
    min-width: 400px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    text-align: center;
}

.auth-form div {
    margin-bottom: 15px;
}

.auth-form label {
    display: block;
    margin-bottom: 5px;
}

.auth-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0;
    margin-bottom: 10px;
}

.auth-form button:hover {
    background-color: darkred;
}

.error {
    color: red;
    text-align: center;
} 

label{
    color: black;
}

p{
    color: black;
}