nav {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

.bottone {
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: brown;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.bottone:hover {
    background-color: darkred;
}

